<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>通讯录添加</title>
    <!-- 新 Bootstrap4 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>

    <!-- bootstrap.bundle.min.js 用于弹窗、提示、下拉菜单，包含了 popper.min.js -->
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>

    <!-- 最新的 Bootstrap4 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/}">通讯录</a></li>
        <li class="breadcrumb-item active">添加联系人</li>
    </ol>
    <h2>添加联系人</h2>
    <form th:action="@{/add}" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="image">头像:</label>
            <input type="file" class="form-control" id="image" name="image" accept="image/*" required title="请选择图片文件">
        </div>

        <div class="form-group">
            <label for="name">姓名:</label>
            <input type="text" class="form-control" id="name" name="name" minlength="2" maxlength="50" required
            title="请输入2到50个字符的姓名">
        </div>

        <div class="form-group">
            <label for="phone">电话:</label>
            <input type="text" class="form-control" id="phone" name="phone" pattern="[0-9]+" minlength="8" maxlength="15" required
                   title="请输入8到15位的数字电话号码">
        </div>

        <div class="form-group">
            <label for="email">邮件:</label>
            <input type="email" class="form-control" id="email" name="email" required title="请输入有效的邮件地址">
        </div>
        <button type="submit" class="btn btn-primary">保存</button>
    </form>
</div>
</body>
</html>
