<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>通讯录编辑</title>
    <!-- 新 Bootstrap4 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>

    <!-- bootstrap.bundle.min.js 用于弹窗、提示、下拉菜单，包含了 popper.min.js -->
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>

    <!-- 最新的 Bootstrap4 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/}">通讯录</a></li>
        <li class="breadcrumb-item active">编辑</li>
    </ol>
    <h2>编辑</h2>
    <form th:action="@{/edit}" method="post" enctype="multipart/form-data">
        <!--在表单提交时将contact.id发送到后端控制器，这样在后端处理请求时可以使用该ID进行相应的操作 -->
        <input type="hidden" name="id" th:value="${contact.id}" />
        <div class="form-group">
            <label for="image">头像:</label>
            <input type="file" class="form-control" id="image" name="image" accept="image/*">
        </div>
        <div class="form-group">
            <label for="name">姓名:</label>
            <input type="text" class="form-control" id="name" name="name" minlength="2" maxlength="50"
                   th:value="${contact.getName()}" required>
        </div>
        <div class="form-group">
            <label for="phone">电话:</label>
            <input type="text" class="form-control" id="phone" name="phone" th:value="${contact.getPhone()}"
                   pattern="[0-9]+" minlength="8" maxlength="15" required title="请输入8到15位的数字电话号码">
        </div>
        <div class="form-group">
            <label for="email">邮件:</label>
            <input type="email" class="form-control" id="email" name="email" th:value="${contact.getEmail()}" required
                   title="请输入有效的邮件地址">
        </div>
        <button type="submit" class="btn btn-primary">更新</button>
    </form>
</div>
</body>
</html>
