<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>通讯录列表</title>
    <!-- 新 Bootstrap4 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>

    <!-- bootstrap.bundle.min.js 用于弹窗、提示、下拉菜单，包含了 popper.min.js -->
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>

    <!-- 最新的 Bootstrap4 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <h2 style="text-align: center">通讯录</h2>
    <form th:action="@{/search}" method="get" class="mb-3">
        <div class="input-group">
            <label for="keyword"></label>
            <input type="text" class="form-control" id="keyword" name="keyword" placeholder="请输入姓名或手机号码">
            <div class="input-group-append">
                <button type="submit" class="btn btn-primary">搜索</button>
            </div>
        </div>
    </form>
    <a class="btn btn-primary float-right" th:href="@{/add}" style="color:white">添加联系人</a>
    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>头像</th>
            <th>姓名</th>
            <th>电话</th>
            <th>邮件</th>
            <th>动作</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="contact, iterStat : ${contacts}">
            <td th:text="${iterStat.count}">1</td>
            <td>
                <img th:src="@{${contact.getImagePath()}}" alt="头像" class="rounded-circle" style="width: 70px; height: 70px;">
            </td>
            <td th:text="${contact.getName()}">周浩然</td>
            <td th:text="${contact.getPhone()}">18537124035</td>
            <td th:text="${contact.getEmail()}">zhouhaoran@bupt.edu.cn</td>
            <td>
                <a class="btn btn-info btn-sm" style="color:white" th:href="@{/edit/{id}(id=${contact.getId()})}">编辑</a>
                <a class="btn btn-danger btn-sm" style="color:white" th:href="@{/delete/{id}(id=${contact.getId()})}">删除</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
